<form class="add-project" (ngSubmit)="onSubmit()">
    <div class="banner">{{editing ? 'Editing' : 'New Project'}}</div>
    <div class="add-project-form-holder">
        <label>Project name *</label>
        <input class="input" type="text" name="title" [(ngModel)]="title">
    </div>
    <div class="add-project-form-holder">
        <label>Start date *</label>
        <input class="input" type="date" name="s_date" [(ngModel)]="start_date">
    </div>
    <div class="add-project-form-holder">
        <label>End date *</label>
        <input class="input" type="date" name="e_date" [(ngModel)]="end_date">
    </div>
    <div class="add-project-form-holder">
        <label>Github Repo</label>
        <input class="input" type="url" name="github" [(ngModel)]="github">
    </div>
    <div class="add-project-form-holder">
        <label>Tags</label>
        <input class="input" type="url" name="tags" [(ngModel)]="tag" (ngModelChange)="tagChange($event)">
        <div class="tags-holder">
            <div *ngFor="let html_tag of tags; let i=index" class="tags">
                <div class="tag">{{html_tag}}</div>
                <i class='close-icon fa fa-close' (click)="deleteTag(i)"></i>
            </div>
        </div>
    </div>
    <div class="add-project-form-holder">
        <label>Description</label>
        <textarea #des class="input" rows="5" [(ngModel)]="description" name="description"></textarea>
    </div>
    <div class="add-project-form-holder">
        <label>Earned</label>
        <input class="input" type="number" min='0' name="price" [(ngModel)]="earned">
    </div>
    <div class="row">
        <input class="input" type="checkbox" name="completed" [(ngModel)]="completed">
        <label>Completed *</label>
    </div>
    <input type='submit' class="button" [value]="editing ? 'Edit' : 'Add'">
</form>
