.header{
    background-color: rgb(6, 88, 102);
    padding:10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 1px 1px 10px 2px #224b4b;
}

.header h3{
    padding-left: 10px;
    color: white;
    font-weight: bold;
    margin: 2px 5px;
    font-size: 18px;
}

.button{
    cursor: pointer;
    text-align: start;
    color: rgb(240, 240, 240);
    font-weight: bold;
    padding: 5px 15px;
    margin: 2px 5px 2px 5px;
    font-size: 14px;
    background-color: rgb(35, 35, 36);
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0,0.5)
}

.button:hover{
    opacity: 0.8;
}

.sorting-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2px;
    z-index: 1;
}

.hover-button{
    cursor: pointer;
    text-align: start;
    color: rgb(255, 255, 255);
    opacity: 0.85;
    font-weight: 500;
    padding: 5px 15px;
    margin: 2px 3px;
    font-size: 15px;
    background-color: rgb(35, 35, 36, 0.7);
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0,0.5)
}
    
.hover-button:hover{
    opacity: 0.8;
}

.row-button{
    display: flex;
    flex-direction: row;
}