.add-project{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    margin-top: 30px; 
    background-color: rgb(56, 3, 141);
    border-radius: 10px;
    padding: 20px;
    color: white;
    width: 70%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.add-project-form-holder{
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.add-project-form-holder label{
    color: aliceblue;
    margin: 2px 0px;
    font-size: 16px;
    font-weight: 500;
}

.add-project-form-holder input{
    font-size: 15px;
    height: 20px;
    padding: 5px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

input[type=checkbox]{
    display: block;
    margin: 0px 5px 0px 0px;
    width: 20px;
    height: 20px;
}

textarea{
    padding: 5px;
    font-size: 16px;
}

.button{
    width: fit-content;
    cursor: pointer;
    text-align: start;
    color: rgb(240, 240, 240);
    font-weight: bold;
    padding: 5px 20px;
    margin: 5px 2px 2px 2px;
    font-size: 14px;
    background-color: rgb(35, 35, 36);
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0,0.5)
}

.button:hover{
    opacity: 0.8;
}