<div class="row project-card">
    <div class="column">
        <img class="cover" [src]="'./assets/' + project.cover" [alt]="project.cover"/>
        <div class="row">
            <p class="button" (click)="editProject()">Edit</p>
            <p class="button" (click)="deleteProject()">Delete</p>
        </div>
    </div>
    <div class="column">
        <h4 class="project-card-title">{{project.title}}</h4>
        <div class="row project-card-date">
            <i class='icon fa fa-calendar-o'></i>
            <p>{{project.start_date}}</p>
            <p>-</p>
            <p>{{project.end_date}}</p>
        </div>
        <div class="project-card-github">
            <div class="github" (click)="goToGithub(project.github)">{{project.github}}</div>
        </div>
        <div class="tags-holder">
            <div *ngFor="let html_tag of project.tags; let i=index" class="tags">
                <div class="tag">{{html_tag}}</div>
            </div>
        </div>
        <p class="project-card-des">
            <i class='icon fa fa-quote-left'></i>
            {{project.description}}
            <!-- <i class='icon fa fa-quote-left'></i> -->
        </p>
        <p class="project-card-price">Budget: {{convertCurrency(project.budget.toString())}}</p>
        <div class="row">
            <p *ngIf="project.status" class="project-card-status">Completed</p>
            <p *ngIf="!project.status" [ngStyle]="{borderLeft: 'solid 5px red', borderRight: 'solid 5px red'}" class="project-card-status">On-going</p>
        </div>
    </div>
</div>

